.cabeçalho{
    background-color: bisque;
    color: white;
}
.principal{
    background-color: rgb(99, 205, 247);
    color: lightcoral;
}
.rodapé{
    background-color: rgb(99, 202, 228);
    color: darksalmon;
    text-align: center;
}
#noitelua{
  width: 600px;
}